POSTGRES_DB=jg_motos
POSTGRES_USER=jg
POSTGRES_PASSWORD=troque-esta-senha
JWT_SECRET=troque-por-uma-chave-bem-forte
ADMIN_NAME=Administrador JG
ADMIN_EMAIL=admin@jgmotos.local
ADMIN_PASSWORD=123456

CERT_STORAGE_DIR=/data/certs
CERT_SECRET=troque-por-uma-chave-fiscal

NFSE_API_BASE_URL_HOMOLOGACAO=https://adn.producaorestrita.nfse.gov.br/contribuintes
NFSE_API_BASE_URL_PRODUCAO=https://adn.nfse.gov.br/contribuintes
NFSE_API_EMIT_PATH=/emit
NFSE_API_STATUS_PATH=/status/{id}
